# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environments
env/
venv/
ENV/
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Model Checkpoints / Outputs
*.onnx
*.h5
*.keras
saved_model/

# Misc
*.zip
